<!-- Content -->
<h2 id="content">Article Input</h2>

<div class="row 200%">
  <div class="12u$">
    <form data-remote="true">
      <div class="row uniform">
        <div class="12u$">
          <textarea name="article" id="article" placeholder="Paste article" rows="16"></textarea>
        </div>
        <div class="12u$">
          <ul class="actions fit">
            <li><input type="submit" value="Analyze!" class="special fit" id="submit_article" /></li>
            <li><input type="reset" value="Reset" / class="fit"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<hr class="major" />

<h2 id="content">Results</h2>

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="tags">Tags</a>
  <a class="item" data-tab="statistics">Statistics</a>
  <a class="item" data-tab="sentiment">Sentiment</a>
  <a class="item" data-tab="network">Network</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="tags" id="tags">

</div>

<div class="ui bottom attached tab segment" data-tab="statistics" id="statistics">

</div>

<div class="ui bottom attached tab segment" data-tab="sentiment" id="sentiment">

</div>

<div class="ui bottom attached tab segment" data-tab="network" id="network">

</div>

<script>
  $(document).ready(function() {
    var running = false;
    $('.menu .item').tab();
    $('#submit_article').click(function(e){
      if (running) {
        swal("Wait...", "The previous procedure has not finished, please wait", "error");
        return;
      }
      running = true;
      swal("Processing...", "It's processing, this could take a while...", "info");
      $.ajax({
        url:"/textmining/submit_article",
        method: 'POST',
        data: { article: $('#article').val() },
        success: function(response) {
          $("#statistics").html(response['statistics_html']);
          $("#tags").html(response['tags_html']);
          $("#sentiment").html(response['sentiment_html']);
          $("#network").html(response['network_html']);
          running = false;
        }
      });
    });
  });
</script>
