<!-- Content -->
<div class="content" style="margin-left: 16%; margin-right: 16%">
  <h2>Natural Language Processing Real-Time System for Central European News</h2>
  <h3>Internet as a medium for information transmission by the media has become one of the main sources of people's knowledge absorption. People always get a preliminary understanding of a topic from the online media. In Central Europe, an incident or a certain issue affects more than one country, possibly multiple countries. Due to the different political and national conditions in various countries, the coverage of the terms and expressions described in the articles of various countries and regions in the news media will present a description and reflection of a certain issue. However, current online information become volume, velocity and variety to require specific technology and analytical methods for its transformation into value. In order to expand to other complementary characteristics of big data in social sciences and humanities (SSH) area.

    We propose a natural language processing real-time system to analyze text information from online news websites automatically. The system uses the existing text analytics resources that are defined for collections. Our purpose is to perform analytics on any text documents. Users can immediately check the analysis visualization results. Our system has the following main functions for SSH researchers.</h3>
  <ol>
    <li>Collect information from online news websites or offline corpus from various countries and analyze the opinions on specific topics.</li>
    <li>Researchers can use Named Entity Recognition (NER) classification of groups manually to define the information retrieval features, and use text patterns for sentence interpretation emotional markers.  </li>
    <li>The terms and phrases described in their articles will present descriptions and reflections on a topic.  </li>
    <li>Provide a platform that can instantly find and analyze a large number of texts.</li>
  </ol>
  <h3>
    The system will help SSH researchers have over view from their documents. Then they can get important information from text quicker than without using any technical supporting.

    NER, NLP, Real-Time System, Sentiment Analysis, Text Mining, Data Visualization, NLTK Tree, Information Retrieval.</h3>
</div>
