<!DOCTYPE HTML>
<html>
  <head>
    <title>Mimir</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/tab.css" />
    <link rel="stylesheet" href="assets/css/mark.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/neo4jd3.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/semantic.css">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
      <div id="main">
        <div class="inner">

          <!-- Content -->
          <section>
            <%= yield %>
          </section>

        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">

          <!-- Menu -->
          <nav id="menu">
            <div class="box alt">
              <div class="row 50% uniform">
                <div class="2u">
                  <span class="image fit">
                    <img src="images/logo.png"/>
                  </span>
                </div>
                <div><ul><li style="font-size:180%">MOST-Fintech</li></ul></div>
              </div>
            </div>
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="textmining.html">Textmining</a></li>
              <li><a href="history.html">History</a></li>
            </ul>
          </nav>

        </div>
      </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tab.js"></script>
    <script src="assets/js/d3.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="assets/js/semantic.js"></script>
    <script src="assets/js/neo4jd3.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>
